@using Proligence.Astoria.Orchard.Settings
@model Proligence.Astoria.Orchard.Models.AstoriaSettingsPart
           
@{
    int i = 0;
    Layout.Title = T("Astoria services global settings.");
    var discoveryLinkText = T("Discover services"); 
}

@helper DisplayTypeName(Type type)
{

    if(type.IsGenericType)
    {
        var generic = type.GetGenericTypeDefinition();
        @(generic.Name.Remove(generic.Name.IndexOf('`')))@:&lt;@string.Join(", ", type.GetGenericArguments().Select(DisplayTypeName))&gt;
    }
    else
    {
        @type.Name
    }
}

<div class="manage">
    @Html.ActionLink(discoveryLinkText.Text, "Discover", "Admin", 
        new { Area = "Proligence.Astoria.Orchard" }, new { @class = "button primaryAction" })
</div>

    @foreach (var set in Model.RuntimeSettings)
    {
        RuntimeSettings set1 = set;
        var serviceSettings = Model.ServiceSettings != null
            ? Model.ServiceSettings.FirstOrDefault(s => s.TypeName == set1.TypeName)
            : null;
        var name = set.TypeName;
        
        <fieldset>
            <legend>
                @T("<b>{0} service</b>", name)
                <span class="hint">@set.Description</span>
            </legend>
            <div>
                @Html.Hidden("ServiceSettings[" + i + "].TypeName", name)
                @Html.Label("ServiceSettings[" + i + "].Url", T("Service Url").Text)
                @Html.TextBox("ServiceSettings[" + i + "].Url", serviceSettings != null ? serviceSettings.Url : "", 
                    new { id = Html.FieldIdFor(m => m.ServiceSettings[i].Url), @class = "textMedium" })
                <span class="hint">@T("The service URL.")</span>
            </div>
            <div>
            <h3>@T("Available methods:")</h3>
            <ul>
            @foreach (var mi in set.Operations.OrderBy(m => m.Name))
            {
                <li>
                    @DisplayTypeName(mi.ReturnType) <b>@mi.Name</b>
                    (
                    @foreach (var p in mi.GetParameters())
                    {
                        <br/>
                        @:&nbsp;
                        @:&nbsp;
                        @DisplayTypeName(p.ParameterType) <i>@p.Name</i>
                    }
                    <br/>
                    )
                </li>
            }
            </ul>
            </div>
            @{ i++; }
        </fieldset>
    }